@page "/"

<PageTitle>Foodtracker</PageTitle>
<div class="d-flex justify-center align-items-center" style="padding-top:5%">

</div>

@code {
	[Inject]
	public IndexedDbAccessor DbAccess { get; set; } = null!;
	[Inject]
	public NavigationManager Nav { get; set; } = null!;


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var personalInfo = await DbAccess.LoadData<PersonalInfo>("info");
		if (personalInfo == null)
			Nav.NavigateTo(Nav.ToBaseRelativePath("/create"));
		else
			StateHasChanged();
	}


}