@page "/"

<PageTitle>Foodtracker</PageTitle>
@if (_initialized)
{
	<div class="d-flex justify-center align-items-center" style="padding-top:2%">
		<MudStack>
			<DonutConsumedToday />
			<ActionMenu />
		</MudStack>
	</div>
}




@code {
	[Inject]
	public IndexedDbAccessor DbAccess { get; set; } = null!;
	[Inject]
	public CustomNavigationService Nav { get; set; } = null!;

	private bool _initialized = false;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var personalInfo = await DbAccess.LoadData<PersonalInfo>("info");
		if (personalInfo == null)
			Nav.NavigateTo("./create");
		else
		{
			_initialized = true;
			var consumed = await DbAccess.LoadData<List<ProductsConsumed>>("consumed");
			if (consumed == null)
			{
				await DbAccess.SaveData<List<ProductsConsumed>>("consumed", new List<ProductsConsumed>());
			}
			StateHasChanged();
		}
	
	}


}